#calculator {
    width: 40vw;
    display: flex;
    flex-direction: column;
    background-color: #949191;
    font-weight: bold;
    font-size: 1.6rem;
  
    #screen {
      height: 2rem;
      background-color: #858693;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      padding: 2rem 1rem;
      color: white;
    }
  
    .row {
      display: flex;
  
      .button {
        flex: 1 1;
        height: 10vh;
        background-color: #e0e0e0;
        border: none;
        margin: 0.05rem;
        font-weight: bold;
        font-size: 1.6rem;
  
        &:hover {
          cursor: pointer;
          background-color: #a7a3a3;
        }
  
        &:active {
          background-color: #e0e0e0;
        }
      }
  
      .operator {
        background-color: #f5913e;
        flex: 1 1;
      }
  
      .double-width {
        flex: 2 2;
      }
    }
  }