*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: cadetblue;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 1rem;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0.2rem 1.4rem 0.1rem #1918188e;
  z-index: 5;
  position: absolute;
  width: 100%;
  background-color: white;
  top: 0;
  left: 0;
}

nav h1 {
  padding : 1rem;
}

nav ul {
  display: flex;
}

nav li {
  list-style: none;
  border-right: solid 0.15rem black;
  padding: 1rem;
}

nav li:last-child {
  border-right: transparent;
}

.link {
  text-decoration: none;
  color: black;
}

#math-msg {
  width: auto;
  height: auto;
  font-size: 2rem;
}

@media only screen and (min-width: 750px) {
  .App {
    flex-direction: row;
  }

  #math-msg {
    width: 15rem;
    height: 15rem;
  }
}
